.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #467cbf;
}
.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #e83927;
}
.st2 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #f9bb00;
}
.st3 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #007c3c;
}
.st4 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #1ea74b;
}
.st5 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #1c63af;
}
